html,
body {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(94, 89, 89);
    overflow: hidden;
    margin: 0;
}
#top {
    background-color: gray;
    position: relative;
    text-align: left;
    border-bottom: red;
    height: 650px;
    bottom: 24px;
    


}

.main-title {

    position: relative;
    text-align: left;
    top: 30px;
    left: 20px;
}

.random-txt {
    margin-left: 80px;
    margin-right: 80px;
}

.spam1 {
    color: red;
    font-size: xx-large;
    position: relative;
    left: 30px;
    top: 5px;
}

.spam2 {
    color: white;
    font-size: xx-large;
    position: relative;
    left: 30px;
    top: 5px;
}
.line{
    color: orangered;
}

.three-buttons {
    position: relative;
    text-align: left;
    left: 900px;
    bottom: 25px;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: 0; 
}


.three-buttons:hover {
    color: lightgray;
}


#subscribe {
    position: relative;
    text-align: left;
    left: 900px;
    bottom: 30px;
}
.text2{
    position: relative;
    left: 620px;
    top: 18px;
}

.sub-button {
    background-color: red;
    border: 2px, solid, transparent;
    border-radius: 100px;
    
}

.sub-button:hover {
    color: lightgrey;
}   

.three-boxes{
    position: relative;
    left: 160px;
    width: 450px;
    bottom: 30px;
    color: white;
    font-size: small;

}

.services-title{
    position: relative;
    left: 100px;
    bottom: 50px;
    color: white;

}

.quote-box{
    position: relative;
    left: 790px;
    bottom: 490px;
    color: white;
    background-color:orangered ;
    width: 190px;
    border: 0px solid transparent;
    border-radius: 19px;
}