body {
    background-color: black;
    color: white;
    font-family: Nunito;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    
}

header {
    display: flex;

    /*Background colour???* */

}
#middle{
    display: grid;
    
}

ul {
    font-size: larger;
    list-style-type: none;
}

.navbar {
    display: flex;
    position: relative;
    left: 80px;
    justify-content: flex-end;
    width: 60%; 
}

#showcase ul {

    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 300px;
}

#showcase .item {
    border-radius: 100px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 10px;
}

#showcase .item:hover {
    color: hotpink;
}

.title h1 {
    
    font-size: xx-large;
    z-index: -1;
    

}

#info-box {

    margin-left: 100px;
    margin-top: 130px;
}

#info-box .content {
    display: flex;
    justify-content: space-evenly;
}

#info-box p {
    width: 500px;
    border: 2px solid hotpink;
    border-radius: 10px;
   
}

p{
    text-align: center;
}



img {
    width: 50%;
    height: auto;
    border-radius: 100px;
    margin-bottom: 120px;
}

#bottom {
    color: white;
    background-color: purple;
    display: flex;
    justify-content: space-around;
    margin-top: -110px;
    clear: both;
}

@media (max-width: 680px) {
    body {
        overflow-x: hidden;

    }
    
.navbar {
    /*BUG* */
    display: flex;

    position: relative;
    
    justify-content:center;
    right: 200px; 
    
 
    
    
  
}

    img {
        /*Getting rid of the image* */
        width: 0px;
        height: 0px;
        display: block;
    }
   

    #middle {
        display: grid;
        justify-content: center;
        position: relative;
        bottom: 100px;
        right: 90px;
        width: fit-content;
    }


    #middle h1 {
        text-align: center;
    }

    #bottom {
    margin-top:60px;
    }
    #info-box .content{
        justify-content: center;
    }
    #info-box p{
     border: 2px solid hotpink;
     border-radius: 10px;
      width: 480px;
    }

}

*::-webkit-scrollbar {
    width: 0px;
}