/*Basic styling of the page* */
body {
    font-family: "Nunito";
    color: white;
    background-image: linear-gradient(180deg, black, rgb(95, 3, 95));
    margin: 0;
    padding: 0;
}
/*Moved title slightly right* */
.title {

    margin-left: 20px;
}
/*Set the pages display to grid
  and aligned all text in container to center 
  *as well as changed margin top and bottom */

.container {
    display: grid;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
/*Set font size to a smaller value & removed dot that <ul> tags automatically have * */
ul {
    font-size: normal;
    list-style-type: none;

}
/*Shifted the navbar up and slightly left* */
.container .navbar {
    margin-bottom: 200px;   
    margin-right: 15px;
    position: relative;
    bottom: 270px;
}
/*Set the navbars horizontal position to the far right of the page* */
.container ul {

    display: flex;
    justify-content: flex-end;
}
/*Basic styling of the buttons in the navbar* */
.container .item {
    border-radius: 100px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
/*Added hover element to each button* */
.container .item:hover {
    color: hotpink;
}
/*Formatting of one of the subheadings* */
.select {
    margin-top: 80px;
    margin-bottom: 215px;

}
/*Set the display of the middle section to grid and changed the margin top* */
#main-content {
    display: grid;
    margin-top: -400px;
}
/*Formatted the links under the images * */
a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

/*Styling of the box-container which holds all the images
   Changed width of each div, added some padding and margin
   and centered all the images* */

.box-container {
    position: relative;
    bottom: 300px;
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*Formated each box with holds each image* */
.box {
    width: 100%;
    margin: 0 10px;
    transform: 5s;
    margin-left: 10px;
    margin-right: 10px;
}
/*Formatted the images inside the box & gave them a radius* */
.box img {
    display: block;
    width: 100%;
    border-radius: 5px;

}
/*Hover value which changes the scale of the image from 1 to 1.2
  This makes the selected image bigger than the rest* */
.box:hover {
    transform: scale(1.2);
}

/*Centered the text under each image* */
.content {
    text-align: center;

}
/*Formated the footer & made the text space around the entire div* */
footer {
    background-color: purple;
    display: flex;
    justify-content: space-around;
    margin-bottom: 300px;
    

}
/*Made the scrollbar width 0, to allow for a cleaner look on the page* */
*::-webkit-scrollbar {
    width: 0px;
}
/*Media queery to help with page responsiveness* */
@media (max-width: 870px) {
   /*Centered the page title* */
    .title {
        text-align: center;
    }
    /*Centered all the content in the container* */
    .container {
        justify-items: center;
    }
    /*Repositioned the navbar to the center of the page
      as well as shifted it below the page title* */
    .container .navbar {
        margin-top: 50px;
        justify-content: center;
        position: relative;
        right: 60px;
    }
    /*Changed the padding left and right of the navbar buttons, so all of 
      the buttons could fit on the mobile version of the page* */
    .container .item {
        padding-left: 10px;
        padding-right: 10px;
    }
    /*Resized the containers <h1> & <h3> tags* */
    .container h1,
    h3 {
        margin-right: 10%;
        text-align: center;
    }
}