body{
    font-family: "Nunito";
    overflow-x: hidden;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
#container{
    display: grid;
}

img{
    display: block;
    border-radius: 30px;
    border: 1px solid purple;
    width: 100%;
    height: 400px;
    
}
.wrapper-title{
    position: relative;
    bottom: 20px;
}

ul {
    font-size: larger;
    list-style-type: none;
}

  .navbar {
    margin-bottom: 0px;
    position: relative;
    bottom: 55px;
    margin-right: 15px;
}

 ul {

    display: flex;
    justify-content: flex-end;
    list-style-type: none;
   
}

  .item {
    border-radius: 100px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 10px;
}
 .item:hover {
    color: hotpink;
}
.wrapper {
    position: relative; /*Puts all text in the correct div**/
    width: 50%;
  }
#middle{
    display: flex;  
    justify-content: center;

}
#middle .wrapper{
    margin:10px;
    padding: 10px; 
}
.wrapper:hover img{
    opacity: 0.55;
}
.wrapper:hover .overlay {
    opacity: 1;
  }
.overlay {
    transition: .5s ease;
    opacity: 0; /*Only one peice of content comes up at a time* */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
img {
    opacity: 1;
    display: block;
    width: 100%;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .content{
    padding: 16px 32px;
  }
  .wrapper a{
    list-style-type: none;
    text-decoration:none;
    color: white;
    font-size: xx-large;
  }
  .box1{
    width: 30%;
    border: 1px solid purple;
    border-radius: 50px;
  }
  .box1 .text2{
    margin-top: -20px; /*Shifting the second peice of text up, to reduce the gap in between* */
  }
  .box1 a{
    list-style-type:none;
    text-decoration:underline;
    color: white;
    font-size: larger;
  }
  footer {
    background-color: purple;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
  
  @media (max-width: 1050px) {
    body{
        background-image: linear-gradient(90deg, black, rgb(70, 0, 70));
    }
    .wrapper-title{
        bottom: 30px;
    }
    #middle{
        display: grid;
        justify-items: center;
        margin-top: -50px;
        gap: -20px; /*Closing the gap between all the photos* */
    }
    .title{
        text-align: center;
    }
    .navbar{
        justify-content: center;
        margin-top: 80px;

    }
    img{
        width: 110%;
        height: 450px;
    }
    .box1{
        position: relative;
        left: 6.5px;
        width: 60%;
    }
    .box1 a{
        margin: 10px;
    }
    ul{
        justify-content: center;
        margin-right:85px;
    }

   
    
}
  *::-webkit-scrollbar {
    width: 0px;
}
