/*Basic stlying of page* */
body{
    background: black url('../IMAGES/subscribe-bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Nunito";

}
/*Basic width & height values set for the box, as well as other styling properties* */
.sign-up{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}
/*Centering h1 & and spacing the h1 from the rest of the content* */
h1{
    text-align: center;
    padding-top:15px;
}
/*Styling for the form boxes set* */
form{
    width: 300px;
    margin-left: 20px;
}
/*Styling for the form labels set* */
form label{
    display: flex;
    margin-top:20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
/*Styling for submit button* */
/*when clicked, the user is redirected to the home page* */
input[type="submit"]{
    width:320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(159, 1, 159);
    color: white;
    font-size: 18px;
}
/*Hover added to submit button* */
input[type="submit"]:hover{
  color: grey;
}
/*<p> styling* */
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
/*Terms & Conditions, as well as back to home button styling* */
a{
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: underline;
    margin-top: -5px;
}
/*Change the background image from a photo, to a color, because the photo is too large
  to be seen in high resolution on a mobile device.* */
@media (max-width: 680px) {
    body{
        background-image: linear-gradient(180deg, black, rgb(73, 1, 73));
    }
}


    

